@import "tailwindcss";

/*
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: #f6f6f6;
    background-color: #111111;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
*/

*[data-tauri-drag-region] {
    app-region: drag;
}

